<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Tekton Demo - Sample App</title> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <img class="tekton-img" th:src="@{/img/tekton-icon.png}">
        <h1>Tekton Demo @ AWS</h1>
        <!-- <h1 style="background: -webkit-linear-gradient(#e75563, #2c338b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">
        Tekton Demo @ AWS
        </h1> -->
    </div>
</body>
</html>