body {
    background-color: white;
    /* background-color: #1b1f23; */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.container {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tekton-img {
    width: 200px;
    height: 200px;
}